*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 450px;
  max-width: 280px;
  background-color: #333;
  align-items: center;
  border-radius: 6px;
  padding: 1px;
}

.calculator__display,
.calculator__body {
  width: 98%;
  margin-top: 0.2rem;
  border-radius: 6px;
}

.calculator__display {
  display: flex;
  color: #ddd;
  font-size: 4rem;
  align-items: center;
  text-align: end;
  padding-right: 0.5rem;
  height: 120px;
  background-color: #555;
  border: 0;
}

.calculator__body {
  display: grid;
  height: 100%;
  margin: 0.2rem 0;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 2rem;
  color: #333;
  background-color: #ddd;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:hover,
.btn:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 0px inset;
}

.blank {
  color: transparent;
}

.span-3 {
  grid-column: span 3;
}

.clear {
  color: #ff7a00;
  font-size: 2.5rem;
}

.num {
  background-color: #bbb;
}
